body{
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9
}


header {
  display: flex;
  position: fixed;
  top:0px;
  z-index: 1;
  width: 100%;
  height: 69px;
  margin: auto;
  background-color: black;
  border-bottom: 1px solid seashell;
}


header img {
  display: flex;
  justify-content: flex-start;
  height: 50px;
  padding-left: 10px;
}

header nav{
  display: block;
  text-align: right;
  flex-grow: 1;
  margin-right: 10px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
  text-decoration: underline;
}

header a{
  color: seashell;
}
.contentBody{
  display: flex;
  margin: auto;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  top: 75px;
}


.mission {
  display: flex;
  align-content: center;
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
}



.missionText{
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  background-color: black;
  width: 1200px;
}

.missionText h2{
  margin-top: 10px;
  margin-bottom: 20px;
}

.missionText h4{
  margin-top: 0px;
  margin-bottom: 10px;
}


.teaofthemonth{
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  background-color: black;
  width: 1000px;
}

.imageFlow{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1000px;
}
.teaImages{
  height: 200px;
  width: 300px;
}



.locations{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  background-image: url("../images/img-locations-background.jpg");
  height: 550px;
  width: 1200px;
}


.locationsBox{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 300px;
  width: 300px;
  background-color: black;

  opacity: 1;
}

.locationsBox h2{
  margin-top: -55px;
  padding-bottom: 15px;
}

footer{
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 300px;
}


#cr{
  margin-left: 20px;
  text-align: left;
}
